aside{
    border-right: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin-top:10px;
}
section{
    padding: 10px;
}

.my-button{
    width: 80%;
    margin: 10%;
}

aside a{
    text-decoration: none;
    color: white;
}

.my-row{
    width:80%;
    margin:10%;
}